{% extends "base.html" %}

{% block main %}
    <div class="global-container">
            <div class="card-body">
                <h3 class="card-title text-center">Your email is successfully verified</h3>
                <div class="card-text text-center">
                    please log in
                    <div class="text-center">
                        <a class="btn btn-primary" href="{% url 'LoginView' %}">Login</a>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}