{% extends "base.html" %}

{% block main %}
  <div class="container">
    <form>
      <h1>Team Registration</h1> <hr>
      <br>
      <label for="team-type" >Team Type:</label>
        <select id="team-type" name="team-type">
          <option value="5-a-side">5 A Side</option>
          <option value="6-a-side">6 A Side</option>
          <option value="7-a-side">7 A Side</option>
          <option value="11-a-side">11 A Side</option>
        </select>
        
      <label for="batch">Batch: {{ request.user.profile.batch }}</label>
      <br> <br>
      <label for="players">Select Players:</label><br>
      {% for profile in profiles %}
         <input type="checkbox" id="{{ profile.user.username }}" name="players" value="{{ profile.user.username }}"  onclick="updateSelectedPlayers(this)">
        <label for="{{ profile.user.username }}">{{ profile.user.username }}</label>
        <br>
      {% endfor %}
     
      <input type="text" id="selectedPlayers" name="selectedPlayers">
      <br> <br>
      <input class="btn btn-success" type="submit" value="Register Team">
    </form>
    <script>
      function updateSelectedPlayers(checkbox) {
        var selectedPlayers = document.getElementById("selectedPlayers").value;
        var username = checkbox.value;
        if (checkbox.checked) {
          // add username to selected players
          if (selectedPlayers == "") {
            document.getElementById("selectedPlayers").value = username;
          } else {
            document.getElementById("selectedPlayers").value += "," + username;
          }
        } else {
          // remove username from selected players
          var arrSelectedPlayers = selectedPlayers.split(",");
          var index = arrSelectedPlayers.indexOf(username);
          if (index !== -1) {
            arrSelectedPlayers.splice(index, 1);
            document.getElementById("selectedPlayers").value = arrSelectedPlayers.join(",");
          }
        }
      }
</script>

  </div>
{% endblock %}
